<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav %>
    <p><%= title %></p>
      <div class="other-users" data-current-uid="91oeijf934fjp39ifjef">
        <div class="potential-smokemate" data-uid="9u449u5495u2495u43">
        <% users.forEach(function(user){ %>
          <img src=<%= user.photo_url %>>
          <div class="smokemate-text">
            <%= user.username %>,
            <%= new Date().getFullYear() - new Date (user.birthday).getFullYear() %>
          </div>
          <div class="smokemate-text-two">
            <p>
              Type:
              <%= user.type %>
              <br>
              Description:
              <%= user.userDescription %>
              <br>
            </p>
          </div>
          <% }); %>
          <div class="button-wrapper">
            <input class="nocig" type="image" src="/images/nocig.jpg" data-status="dislike">
            </input>
            <input class="yescig" type="image" src="/images/cigyes.jpg" data-status="pending">
            </input>
          </div>
        </div>
      </div>

  </body>
</html>

